# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

print(number)

6

##### Assinging float

In [6]:
numberFloat = 2.3

print(numberFloat)

number_Float = 2.5

2.3

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

7.4
9.4

##### Subtraction

In [8]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = num2/num1
print(result_div)

#short-hand version
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [11]:
result_floor = num2 // num1
print(result_floor)

#short-hand version
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [13]:
result_mod = num2 % num1
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [14]:
square = 5 ** 2
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [15]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Carter")

This is my first name:  Joel
Full Name:  Joel Carter

##### String Concatenation

In [25]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [26]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [32]:
# Input will always return a string -- All the time

# name = input('What is your name? ')

# print(name)

age = int(input("What is your age?: "))

add_age = age + 1
print(add_age)

What is your age?: 30
31

##### format()

In [37]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 30
You are 30 Joel and you are getting wiser!
30 is a great time in life!!!

##### Old Way (python 2)

In [38]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 30 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [39]:
#OUTPUT:  The car's color is blue, the year is 2019, make is honda, and model is CR-V

name = input("What is your name?: ")
color = input("What color is your car?: ")
year = input("What year is your car?: ")
model = input("What model is your car?: ")
results = f"{name}, your {year} {model}'s color is {color}"

print(results)

What is your name?: Joel
What color is your car?: Gun Metal
What year is your car?: 2019
What model is your car?: CR-V
Joel, your 2019 CR-V's color is Gun Metal

### If Statements

In [40]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print("Not Equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

Not Equal
Num2 is greater

##### 'is' keyword

In [45]:
# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55

if num3 is 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [48]:
# Check if char in name
char_name = "Max Payne"

if "Max" in char_name:
    print("The Character who lost everything...")

The Character who lost everything...

##### 'not in' keyword'

In [49]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [53]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

street=input("Where do you live?")
result_string = "You live on {} street.".format(street)
print(result_string)

if 'p' not in street:
    print("p is NOT here...")

Where do you live?154th
You live on 154th street.
p is NOT here...

## Using 'and'/'or' with If Statements

In [54]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statment
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [55]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [57]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)
    
name = "Joel Carter"

for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(name[i])

J
o
e
l

C
a
r
t
e
r
J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [58]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

##### Double For Loops

In [60]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [61]:
# while keyword, condition statement
# based on the conditional Statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [62]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [65]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [67]:
#Start, Stop, Step
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [68]:
# check Length of variable
name = "Max "

length = len(name)
print(length)

4

##### help()

In [69]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [71]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [72]:
# | 5 |

print(abs(-5))

5

### Try and Except

In [74]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

Guess a Numberwwooejjwhhejkjkwejwhhejjwheh
That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

In [75]:
l_1 = [] # Empty List Declaration

names = ['Max','Cindy','Kathy', "bob","Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [80]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [81]:
names.append('Joel')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Joel']

##### .insert()

In [82]:
# list.insert(index,value)

names.insert(3,"Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'bob', 'Nate', 'Joel']

##### .pop()

In [83]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

print(names.pop(2))

Kathy


##### .remove()

In [84]:
# value to be removed , not index
# names.remove("Bob")
# print(names)

# remove multiple bobs out of list
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Gabby', 'Nate', 'Joel']

##### del()

In [85]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del(names[1])
print(names)

['Max', 'Gabby', 'Nate', 'Joel']

##### Concatenating Two Lists

In [86]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [89]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [90]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
#list_num = []
num = 0
while num < 1000:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [6]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t brfor i in range(20):


numr=int(input("Enter range:"))

print("Prime numbers:",end=' ')

for n in range(1,numr):

    for i in range(2,n):

        if(n%i==0):

            break

    else:

        print(n,end=' ')

Enter range:100
Prime numbers: 1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [17]:
age = int(input("What is your age?: "))
if age < 18:
    print ("they are kids")
elif age >= 18 and age <= 65:
    print ("they are ADULTS")
else:
    print ("seniors")

What is your age?: 55
they are ADULTS